<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.MVC.styles.css" asp-append-version="true" />
    <style>
        html, body {
            height: 100%; /* Tüm sayfa yüksekliği */
            margin: 0; /* Varsayılan kenar boşluğunu sıfırla */
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center; /* Dikey ortalama */
            background-color: #f8f9fa; /* Arka plan rengi */
        }

        .login-container {
            width: 100%;
            max-width: 400px; /* Genişlik sınırı */
            padding: 40px; /* İç boşlukları artırdık */
            min-height: 300px; /* Minimum yükseklik ayarı */
            background-color: white;
            border-radius: 5px; /* Köşe yuvarlama */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
        }
    </style>
</head>
<body>
    <div class="login-container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
